{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
 <div class="hero_bg_box">
    <div class="img-box">
        <img src="{% static 'images/overview.jpg' %}" alt="">
    </div>
</div>
<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="img_container">
                    <div class="img-box">
                        <img src="{% static 'images/about.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="detail-box">
                    <div class="heading_container ">
                        <h2>
                            Who Are We?
                        </h2>
                    </div>
                    <p>
                        Allserve Restaurant offers a wide variety of services ranging from catering services and recreational
                        services to
                        conference meetings holding services and comfortable self-contained lodging that you can book and
                        stay with us for as long as you
                        want.
                        <br>
                        Our staff are well qualified and experienced enough and we trust that you'd love your stay with
                        us.
                        We are located all over the country. In case of any query:
                    </p>
                    <div class="btn-box">
                        <a href="{% url 'contact' %}">
                            Contact us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}