{% extends 'base.html' %}
{% load static %}

{% block title %}Services{% endblock %}

{% block content %}
<div class="hero_bg_box">
    <div class="img-box">
        <img src="{% static 'images/overview.jpg' %}" alt="">
    </div>
</div>
<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="img_container">
                    <div class="img-box">
                        <img src="{% static 'images/images.jpeg' %}" alt="restaurant" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="detail-box">
                    <div class="heading_container ">
                        <h2>
                            The Restaurant
                        </h2>
                    </div>
                    <p>
                        Enjoy your best meals at an affordable price. All your favourite is here!
                        <br>
                        We have the best recipe for all meals and the best menu that suits all, from foods to drinks.
                    </p>
                    <div class="btn-box">
                        <a href="{% url 'book' %}">
                            View Gallery
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="img_container">
                    <div class="img-box">
                        <img src="{% static 'images/images (2).jpeg' %}" alt="club" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="detail-box">
                    <div class="heading_container ">
                        <h2>
                            The Club
                        </h2>
                    </div>
                    <p>
                        We have the best services at our club, ALL drinks are available.
                        Enjoy your time with family and friends.
                        <br>
                        Drink Responsibly. Not for sale for people under the age 18.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="img_container">
                    <div class="img-box">
                        <img src="{% static 'images/images (1).jpeg' %}" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="detail-box">
                    <div class="heading_container ">
                        <h2>
                            Accommodation
                        </h2>
                    </div>
                    <p>
                        Spaceous self-contained lodging houses are available across all our branches.
                        <br>
                        Rooms are classified according to the class and preferences.
                        <br>
                        All are Welcome to stay with us as long as you like.
                    </p>
                    <div class="btn-box">
                        <a href="{% url 'book' %}">
                            Book now.
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="img_container">
                    <div class="img-box">
                        <img src="{% static 'images/conference.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 px-0">
                <div class="detail-box">
                    <div class="heading_container ">
                        <h2>
                            Conference Hall
                        </h2>
                    </div>
                    <p>
                        If you are looking for a space to hold conference meetings and stuff like that, You are in the
                        right place champ!
                        We have spaceous rooms specifically designed for holding meetings.
                        <br>
                        Price depends on the number of people and the kind of services you'll want us to offer for you.
                    </p>
                    <div class="btn-box">
                        <a href="{% url 'book' %}">
                            Book a meeting venue
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}